.devenv
.devenv
result/
result
/result
.direnv
.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa
.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa.rc
.direnv/bin/nix-direnv-reload
.direnv/flake-inputs/7bw9ki9cydb5lqpyll0869j7yfiahkxl-source
.direnv/flake-inputs/8kpx53qi52yhjai1vdw8zpa95iqa61bv-source
.direnv/flake-inputs/8p8giar71b6aqddqkjckzhirwvjnf02x-source
.direnv/flake-inputs/134v1qhd8hcw02xymd2759a2x2y8yls4-source
.direnv/flake-inputs/bnfvxiil22xrsgxdwq1iw2g2906w40a7-source
.direnv/flake-inputs/cb2x2zdcyssi5dszi9qivv5i4xy90kah-source
.direnv/flake-inputs/cbijv55rjxlhm7nsvpzjhq4lrki6gqdb-source
.direnv/flake-inputs/i4nv0mdcx8iifh3r71qd0pbp8al8kp1z-source
.direnv/flake-inputs/mnfbbcdbbwh3iif9m9xp8jnsgys65f2g-source
.direnv/flake-inputs/na7sykizsgkzh9i3wc8m8pz5xfqib2rv-source
.direnv/flake-inputs/s6agnzjr3kg5sayjy0b0ms52bkvifqrv-source
.direnv/flake-inputs/sam2k8c60pxnh9rvl13q8180i4lyr3hb-source
.direnv/flake-inputs/xvyy5vh6cg7958a26p2bqyz6jg5wkz4g-source
.direnv/flake-inputs/yj1wxm9hh8610iyzqnz75kvs6xl8j3my-source
.direnv/flake-inputs/yzv2p09a0pmxps631z44civzsffl89m5-source
.direnv/flake-inputs/z2l86k2l78kpa3slak0zq71zxdh5qjg8-source
.direnv/flake-inputs/zip7j12hg8bndijf3vfmgpvmxyp1ywhp-source
.direnv/flake-inputs/zq2axpgzd5kykk1v446rkffj3bxa2m2h-source
